body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background: -moz-linear-gradient(left, #3931af, #00c6ff);
    background: -o-linear-gradient(left, #3931af, #00c6ff);
}

.float-right{
    float: right !important;
}

.btn-admin{
    color: #28a745 !important;
}

.btn-admin:hover{
    color: #f8f9fa !important;
}

.background-white{
    background-color: white;
}

span{
    font-size:15px;
}

.box{   
    padding:0px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0.25em;
    padding:60px 10px;
    margin:30px 0px;
    -webkit-border-radius:0.25em;
    -moz-border-radius:0.25em;
    -ms-border-radius:0.25em;
    -o-border-radius:0.25em;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

#team .card {
    border: none;
    background: #ffffff;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}